<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>Home</title>
</head>
<body>
    <h1> Posts </h1>
    <div class="posts">
        <% if (locals.data) {%>
        <div class="post">
                <div class="title"> <%= data.title%> </div> 
                <div class="content"> <%= data.content %> </div>
                <div class="buttons">
                    <button class="button edit">EDIT</button>
                    <button class="button delete">DELETE</button>
                </div>

            <p>
                <span class="author"> <%= data.by %> </span><br>
                <span class="date"> <%= data.date %> </span>
            </p>
            <hr>
        </div>
        <% } %>
    </div>    
</body>
</html>