<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>Home</title>
</head>
<body>
    <h1> Posts </h1>
    <div class="posts">
        <% if (locals.data) { data.forEach(item => {%>
        <div class="post">
                <div class="title"> <%= item.title%> </div> 
                <div class="content"> <%= item.content %> </div>
                <div class="buttons">
                    <button class="button edit">EDIT</button>
                    <button class="button delete">DELETE</button>
                </div>

            <p>
                <span class="author"> <%= item.by %> </span><br>
                <span class="date"> <%= item.date %> </span>
            </p>
        </div>
        <hr>
        <% })} else { %>
            <h2>No data available</h2>
        <%}%>
    </div>    
</body>
</html>