<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>Home</title>
</head>
<body>
    <h1> Posts </h1>
    <div class="posts">
        <div class="post">
                <div class="title"> Title: </div> 
                <div class="content"> Content: </div>
                <div class="buttons">
                    <button class="button edit">EDIT</button>
                    <button class="button delete">DELETE</button>
                </div>

            <p>
                <span class="date"> Date: </span> <br>
                <span class="author"> Author: </span>
            </p>
            <hr>
        </div>
    </div>    
</body>
</html>